
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: var(--bg-gradient);
  background-repeat: no-repeat;
  font-family: var(--font-interDisplay);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  background-image:
    url("/header-gradient.svg");
    background-position:
    center top; /* this positions the first image */
    background-repeat:
    no-repeat; /* this applies to both images */
  background-size: 1100px auto;
}
